@use '../../scss/variables' as v;

.task-card {
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1); 
  max-width: 600px;
}

.card-title {
  font-family: v.$default-font;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
}

.card-description {
  font-family: v.$default-font;
  font-size: v.$small-font-size;
  font-weight: 400;
  color: #696765;
  margin-top: 10px;
}

.arrow-icon {
  width: 20px;
}

.visit-link {
  font-family: v.$default-font;
  font-weight: 700;
  font-size: v.$small-font-size;
  text-decoration: none;
  color: #455560;
}

.visit-link:hover {
  text-decoration: underline;
}

.card-image-wrapper {
  height: 100%;
  padding: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-card-img {
  width: 140px;
  border-radius: 4px;

  @media (max-width: v.$tablet-size) {
    width: 100px;
  }
}