@use "bootstrap/scss/bootstrap";
@use "../../scss/variables" as v;

.header {
    background: linear-gradient(274.91deg, #70bc1f -26.96%, #00ace1 93.71%);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1); 
    color: #ffffff;
    font-family: v.$default-font;
    padding-top: 80px;
    height: 250px;
    width: 100%;
}